<div class="row">
    <h1>Proyectos</h1>
    <div class="row">
        <div class="col-12">
            <h2>Interface Custom para Lineage 2</h2>
            <div class="row">
                <div class="col-6">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, a suscipit! Dolorum ipsam amet
                        libero perferendis laudantium corrupti nihil dolor eveniet fuga quos saepe, esse atque facilis
                        temporibus perspiciatis quo!</p>
                </div>
                <img class="col-4 img-fluid img-thumbnail" src="../../../assets/l2.png" alt="Imágen Proyecto">
            </div>
        </div>
    </div>
</div>