<div class="row">
    <h1>Educación</h1>
    <ul type="square">
        <li>
            <div class="row lista">
                <div class="col-1">
                    <img src="" alt="Imágen Educación 1">
                </div>
                <div class="col-11">
                    <h2>Educación 1</h2> -
                    <h4>2014 ~ 2016</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias excepturi, deleniti porro nisi
                        harum reiciendis ipsa consequatur iste illo veniam deserunt repellendus velit nesciunt debitis
                        error et labore amet suscipit.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="row lista">
                <div class="col-1">
                    <img src="" alt="Imágen Educación 2">
                </div>
                <div class="col-11">
                    <h2>Educación 2</h2> -
                    <h4>2014 ~ 2016</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem odio recusandae ratione earum quas. Architecto in quidem accusantium praesentium ipsam excepturi blanditiis voluptatibus ullam tempora exercitationem culpa soluta, labore nostrum!</p>
                </div>
            </div>
        </li>
        <li>
            <div class="row lista">
                <div class="col-1">
                    <img src="" alt="Imágen Educación 3">
                </div>
                <div class="col-11">
                    <h2>Educación 3</h2> -
                    <h4>2014 ~ 2016</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptatem sed similique aliquid fuga praesentium magnam veniam rerum, non optio excepturi dicta. Unde, libero iure dolorum mollitia maxime cupiditate possimus.</p>
                </div>
            </div>
        </li>
    </ul>
</div>