<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo2.png" alt="Logo Argentina Programa" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/alejandro-tonda" target="_blank"><img src="../../../assets/linkedin.png" alt=""></a>
            <a href="https://github.com/aletondaX" target="_blank"><img src="../../../assets/github.png" alt=""></a>
            <button type="button" class="btn btn-outline-light">Ingresar</button>
        </div>
    </div>
</div>